.about_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.about_title {
  font-size: 25px;
  color: darkred;
  font-weight: bold;
  text-decoration: underline;
}

.about_content {
  font-size: 19px;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.element {
  margin: 3px;
}
@media all and (max-width: 1400px) {
  .about_title {
    margin: auto;
    font-size: 22px;
  }
  .about_content {
    font-size: 18px;
  }
}
@media all and (max-width: 1000px) {
  .about_title {
    margin: auto;
    font-size: 20px;
  }
  .about_content {
    font-size: 17px;
  }
}
@media all and (max-width: 600px) {
  .about_title {
    margin: auto;
    font-size: 19px;
  }
  .about_content {
    font-size: 15px;
  }
}
.bold_1 {
  font-weight: bold;
  text-transform: uppercase;
  color: lightcoral;
}

.bold_2 {
  font-weight: bold;
  text-transform: uppercase;
  color: grey;
}