.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__wrap {
  position: relative;
  margin: 5px 0;
}

.form__input,
.form__output {
  width: 900px;
  height: 170px;
  padding: 10px;
  border-radius: 8px;
  resize: none;
  background-color: #383b40;
  color: #ffddbe;
  font-size: 16px;
}

.form__number {
  width: 900px;
  height: 80px;
  padding: 10px;
  border-radius: 8px;
  resize: none;
  background-color: #383b40;
  color: #ffddbe;
  font-size: 16px;
}

.form__number::placeholder,
.form__input::placeholder,
.form__output::placeholder {
  font-size: 16px;
  color: #ffddbe;
}

.form__number__buttons,
.form__input__buttons,
.form__output__buttons {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.form__function__buttons {
  margin: 5px 0;
}

.button {
  background-color: #ba55d3;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
  text-align: center;
  transition: color 100ms;
  margin: 4px;
}

.button:hover,
.button:focus {
  background-color: #c678dd;
}

.form__encrypt__button,
.form__decrypt__button {
  background-color: #EA4C89;
}

.form__encrypt__button:hover,
.form__encrypt__button:focus,
.form__decrypt__button:hover,
.form__decrypt__button:focus {
  background-color: #F082AC;
}

.form__encrypt__button:disabled,
.form__decrypt__button:disabled {
  cursor: not-allowed;
}


@media all and (max-width: 1000px) {

  .form__number,
  .form__input,
  .form__output {
    width: 700px;
    font-size: 14px;
  }

  .form__number::placeholder,
  .form__input::placeholder,
  .form__output::placeholder {
    font-size: 14px;
  }
}

@media all and (max-width: 800px) {

  .form__number,
  .form__input,
  .form__output {
    width: 600px;
  }
}

@media all and (max-width: 650px) {

  .form__number,
  .form__input,
  .form__output {
    width: 400px;
    height: 140px;
    font-size: 12px;
  }
  
  .form__number {
    height: 80px;
  }

  .form__number::placeholder,
  .form__input::placeholder,
  .form__output::placeholder {
    font-size: 12px;
  }

  .button {
    font-size: 16px;
    height: 30px;
    padding: 6px 14px;
  }

  .form__function__buttons {
    margin: 3px 0;
  }
}

@media all and (max-width: 500px) {

  .form__number,
  .form__input,
  .form__output {
    width: 300px;
    height: 130px;
    font-size: 11px;
  }

  .form__number {
    height: 70px;
  }

  .form__number::placeholder,
  .form__input::placeholder,
  .form__output::placeholder {
    font-size: 11px;
  }

  .button {
    font-size: 14px;
    padding: 4px 10px;
  }

  .form__function__buttons {
    margin: 1px 0;
  }
}


.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}