.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.single {
  margin: 20px 10px;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #2d3439;
  font-size: 20px;
  border-left: 8px solid #4979ff;
  border-radius: 8px;
}

.single:hover {
  cursor: pointer;
}

.button {
  background-color: lightslategrey;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
  text-align: center;
  transition: color 100ms;
  margin: 4px;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: lightgrey;
}

.button:disabled {
  cursor: not-allowed;
}

@media all and (max-width: 900px) {
  .wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .single {
    font-size: 18px;
    margin: 18px 10px;
    padding: 15px 25px;
  }
}

@media all and (max-width: 600px) {
  .single {
    font-size: 16px;
    margin: 16px 10px;
    padding: 15px 20px;
  }

  .button {
    font-size: 17px;
    height: 35px;
    padding: 8px 15px;
  }
}

@media all and (max-width: 450px) {
  .single {
    font-size: 14px;
    margin: 14px 8px;
    padding: 13px 18px;
  }

  .button {
    font-size: 16px;
    height: 30px;
    padding: 6px 14px;
  }
}



.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}